

* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
font-family: Arial;
background-color: #FFFFFF;
padding: 0px;
}

.login-screen {
background-color: #EEEEEE;
padding: 20px;
/*border-radius: 5px;
display: table-cell;*/
overflow:hidden;
margin-top:80px;
text-align:center;
max-width:350px;
margin-left:auto;
margin-right:auto;
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
    margin-bottom: 10px;
}

.logo{
    margin-top:50px;
}

#login-name{
    background: #ffffff url(../img/login-user-icon.png) no-repeat 98% center;
    height:34px;
}

#login-pass{
    background: #ffffff url(../img/login-passowrd-icon.png) no-repeat 98% center;
    height:34px;
}

input:focus {
border: 1px solid #18F;
box-shadow: none;
}

.btnn {
  border: 1px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 4px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btnn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #18F;
  display: block;
  margin-top: 12px;
}

.bg_new {
    position: absolute;
    height: 50%;
    width: 100%;
    background: url(../img/login-bg-new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.login-footer{ 
    padding-top:60px;
}
